@import "color-variables";


#main-container {
  background-color: $default-color;
  height: 100vh;
  position: relative;
  overflow: auto;
}


input, button {
  display: block;
  margin: 25px auto auto;
}
