
//------------------ Main Colors //

$default-color: #242E4C;

$secondary-color: #7D7A9E;

$pink: #F775C1;

$grey-color: #5D698D;

$border-color: #EBEBF2;    // used for border in special //

$shape-bg-color: #F7F7FC;

$accessory-color: #BBB9D1;



//------------------ Gradients //

$pink-gradient: linear-gradient(90deg, #BA81FF 0%, #FF6A95 99%);

$light-pink-gradient: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%);

$green-gradient: linear-gradient(90deg, #68E4BC 0%, #4AD0D1 99%);