

<div id="main-container"></div>

<!--jQuery-->
<script type="text/javascript" src="../public/lib/jquery-3.4.1.min.js"></script>

<!-- Simplebar plugin -->
<link rel="stylesheet" href="../public/lib/simplebar/simplebar.css" />
<script type="text/javascript" src="../public/lib/simplebar/simplebar.js"></script>

<!--GSAP-->
<script type="text/javascript" src="../public/lib/TweenLite.min.js"></script>
<script type="text/javascript" src="../public/lib/TimelineLite.min.js"></script>
<script type="text/javascript" src="../public/lib/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="../public/lib/easing/EasePack.min.js"></script>

<script src="../public/js/index.bundle.js"></script>

