

<div id="main-container"></div>

<!--jQuery-->
<script type="text/javascript" src="../public/lib/jquery-3.4.1.min.js"></script>

<!--GSAP-->
<script type="text/javascript" src="../public/lib/TweenLite.min.js"></script>
<script type="text/javascript" src="../public/lib/TimelineLite.min.js"></script>
<script type="text/javascript" src="../public/lib/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="../public/lib/easing/EasePack.min.js"></script>

<script id="data-source">var DATA_SOURCE = {{{ post }}};</script>
<script src="../public/js/post.bundle.js"></script>