


<div id="header-container"></div>

<div class="about-main-container">

        <img src="../style/img/about-pic.png" alt="Picture of UI Design Daily Author">

    <div class="about-text-container">

        <h1 class="bold">About UI Design Daily</h1>

        <p>My name is Ildiko, I am a designer and interface developer based in Bergen, Norway ⛰️👋</p>

        <br>

        <p>I started doing daily UI practices back in March 2016, and since then I created more than 1000 designs.</p>

        <br>

        <p>I planned on creating a design every week day until I reach 100 days total, to practice consistency and improve my skills. The improvement after the first hundred days was really encouraging, so I decided to make another hundred focusing on specific areas I am lacking in; and then another hundred, and then many more.</p>

        <br>

        <p>I created UI Design Daily to be able to share these designs with anybody who is interested in using them as inspiration or research material. I am hoping this project also takes me out of my comfort zone and provides new challenges. I'm planning to get better at development and pick up blogging as well, so lots of exciting things to look out for!</p>

        <br>

        <p>If you're interested in my journey stay tuned, and if you'd like to get in touch feel free to <a class="link-btn" href="/contact">drop me a message</a>. 😊</p>

        <br>

        <p>If you'd like to bounce ideas, chat about tools and all things design, you can also join the <a class="link-btn" href="/slack-invite">UI Design Daily Slack Channel</a>.</p>

    </div>

</div>






<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>