


<div id="header-container"></div>


<div id="contact-form-container" class="contact-container">

    <h1 class="bold">Send me a message</h1>

    <p class="m-font-size">Feel free to get in touch with me with anything related to UIDesignDaily or you can just say hi 👋 I will get back to you as soon as I can.</p>

    <div class="input-wrapper">

        <input id="contact-name-input" class="border-input" placeholder="Name" type="text">

        <p id="contact-name-input-error" class="input-error-msg">Please enter your name</p>

    </div>

    <div class="input-wrapper">

        <input id="contact-email-input" class="border-input" placeholder="Email" type="email">

        <p id="contact-email-input-error" class="input-error-msg">Please enter a valid email address</p>

    </div>

    <div class="input-wrapper">

        <input id="contact-subject-input" class="border-input" placeholder="Subject" type="text">

        <p id="contact-subject-input-error" class="input-error-msg">Please enter a subject</p>

    </div>

    <div class="input-wrapper">

        <textarea id="contact-message-input" class="border-input" placeholder="Message" type="text" rows="5"></textarea>

        <p id="contact-message-input-error" class="input-error-msg">Please write a message</p>

</div>

    <div id="contact-send-btn" class="pink-btn">Send</div>

</div>

<!--Add class " error " to show error feedback-->
<div id="contact-feedback-container" class="contact-feedback-container">

    <img class="feedback-success-image" src="../style/img/message-sent-icon.svg" alt="Message sent illustration">

    <img class="feedback-error-image" src="../style/img/message-sent-error-icon.svg" alt="Message not sent illustration">


    <h1 class="bold success-text">Thank you for your message!</h1>

    <h1 class="bold error-text">Message couldn’t be sent…</h1>


    <p class="m-font-size success-text">Your message has been received, and I will get back to you within 2 business days.</p>

    <p class="m-font-size error-text">An error occurred while you tried to send the message. Please try again, or you can email me at <strong>ildiko@uidesigndaily.com</strong>.</p>

    <a href="/" id="contact-subscribe-home-btn" class="pink-btn">Go to home page</a>

    <a href="/contact" id="contact-subscribe-try-again" class="pink-btn">Try Again</a>

</div>


<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>