

<header>

    <a href="/">

        <img class="daily-ui-logo" src="../style/img/uidesigndaily-logo.svg" alt="UI Design Daily Logo">

    </a>

    <nav class="main-navigation">

        <a id="main-nav-designs-btn" class="nav-menu-item" href="/">Designs</a>

        <a id="main-nav-about-btn" class="nav-menu-item" href="/about">About</a>

        <a id="main-nav-license-btn" class="nav-menu-item" href="/license">License</a>

        <a id="main-nav-blog-btn" class="nav-menu-item" href="https://blog.uidesigndaily.com/" target="_blank">Blog</a>

        <a id="main-nav-contact-btn" class="nav-menu-item" href="/contact">Contact</a>

    </nav>

    <div id="main-nav-open-menu-btn" class="mobile-menu-icon"></div>

</header>

<!--mobile menu starts here-->

<div id="mobile-menu-container" class="mobile-menu-container">

    <div class="mobile-menu-header">

        <a href="/">

            <img class="daily-ui-logo float-l" src="../style/img/uidesigndaily-logo.svg" alt="UI Design Daily Logo">

        </a>

        <div id="mobile-close-menu-btn" class="close-btn active"></div>

    </div>

    <div class="mobile-main-navigation">

        <a id="mobile-main-nav-designs-btn" class="nav-menu-item"  href="/">Designs</a>

        <a id="mobile-main-nav-about-btn" class="nav-menu-item" href="/about">About</a>

        <a id="mobile-main-nav-license-btn" class="nav-menu-item" href="/license">License</a>

        <a id="mobile-main-nav-blog-btn" class="nav-menu-item"  href="https://blog.uidesigndaily.com/" target="_blank">Blog</a>

        <a id="mobile-main-nav-contact-btn" class="nav-menu-item" href="/contact">Contact</a>

        <a id="mobile-main-nav-terms-btn" class="nav-menu-item" href="/terms">Terms & Conditions</a>

        <a id="mobile-main-nav-privacy-btn" class="nav-menu-item" href="/privacy">Privacy policy</a>

    </div>


    <div class="mobile-menu-footer">

        <p class="copyright">©UIDesignDaily 2019</p>

        <div class="so-me-container">

            <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

            <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

            <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

            <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

            <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

        </div>

    </div>

</div>