






<div id="header-container"></div>

<div class="landing-content-container">

    <section class="sign-up-banner-container">

        <div class="daily-counter">

            <p class="daily-counter-label">DAY</p>

            <p id="ui-day-count" class="day-number l-font-size bold">000</p>

        </div>

        <div id="banner-subscribe-email-error" class="subscribe-error-message">Please enter your email address.</div>


        <div class="banner-content-container">

            <p class="xs-font-size">DON’T MISS OUT THE LATEST</p>

            <h1 class="bold">Weekly FREE UI resources straight to your inbox</h1>

            <div class="input-wrapper">

                <input id="banner-subscribe-email-input" type="email" class="banner-input" placeholder="Email address">

                <div id="banner-subscribe-btn" class="primary-btn">Stay inspired</div>

            </div>

            <p class="info-text">Commitment issues? Unsubscribe at any time.</p>

        </div>

    </section>

    <!--add class "extra-margin" if subscribed-->
    <section class="filter-section extra-margin">

        <div class="search-input-wrapper float-l">

            <input id="post-search-input" class="search-input" placeholder="Search">

            <div id="clear-search-btn" class="clear-search"></div>

        </div>

        <div id="post-tags-filter-btn" class="primary-btn dark float-r">Filter by tags

            <p id="post-tags-filter-count" class="tag-number">0</p>

        </div>

        <div class="software-list float-r">

            <div id="post-software-filter-all" class="software-item active">All</div>

            <div id="post-software-filter-sketch" class="software-item sketch"></div>

            <div id="post-software-filter-photoshop" class="software-item photoshop"></div>

            <div id="post-software-filter-principle" class="software-item principle"></div>

            <div id="post-software-filter-figma" class="software-item figma"></div>

            <div id="post-software-filter-xd" class="software-item xd"></div>

            <div id="post-software-filter-studio" class="software-item studio"></div>

        </div>



    </section>

    <!--add class " hidden " to hide panel-->
    <div id="tag-filter-panel" class="tag-filter-panel">

        <div class="tag-filter-panel-header">

            <div class="tag-filter-panel-header-text-wrapper">

                <h2>Filter by tags</h2>

                <p class="info-text-grey">Select tags to filter the designs</p>

            </div>

            <div id="tag-filter-panel-close-btn" class="close-btn"></div>

        </div>


        <!--add " active " class to hide empty state and show tag number selected-->

        <div class="selected-tags-counter active">

            <p id="tag-counter-label-empty" class="tag-counter-label-empty">No tags selected</p>

            <p id="tag-counter-label" class="tag-counter-label"><span>0</span> tags selected</p>

            <p id="tag-clear-btn" class="link-btn">Clear</p>

        </div>

        <div id="tags-content-wrapper" class="tags-content-wrapper">

            <div class="tags-content">

                <h2 class="grey bold">A</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>


            <div class="tags-content">

                <h2 class="grey bold">B</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>


            <div class="tags-content">

                <h2 class="grey bold">C</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">D</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">E</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">F</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">G</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">H</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>


            <div class="tags-content">

                <h2 class="grey bold">I</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">J</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">K</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">L</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">M</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">N</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">O</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



            <div class="tags-content">

                <h2 class="grey bold">P</h2>

                <div class="tag">analytics</div>

                <div class="tag">authentication</div>

                <div class="tag active">another</div>

                <div class="tag">analytics</div>

                <div class="tag">analytics</div>

            </div>



        </div>

    </div>


    <div id="search-result-empty-state" class="search-empty-state">

        <img class="search-empty-icon" alt="Search no result illustration" src="../style/img/search-empty-icon.svg">

        <p class="l-font-size">Sorry we couldn't find any matches for <span class="bold" id="search-empty-state-keyword">tat</span></p>

        <p class="m-font-size grey">Please try searching with another term</p>

    </div>


    <section id="post-listing" class="designs-section">






    </section>




</div>



<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"><img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>