


<div id="header-container"></div>

<div class="license-main-container">

    <div class="license-header">

        <img class="license-icon" src="../style/img/license-icon.svg" alt="License icon">

        <div class="license-header-content">

            <h1 class="bold">License</h1>

            <p class="m-font-size bold">All the free items on this website are under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="nofollow" class="link-btn">Creative Commons license</a>.</p>

        </div>

    </div>

    <section class="rules-section okay">

        <img src="../style/img/okay-icon.svg" alt="Thumbs up illustration">

        <h2 class="bold">It's okay to:</h2>

        <p>• Not give credit to UIDesignDaily.com but is always appreciated 🤗</p>

        <p>• Be creative and edit, copy, modify the designs as you like.</p>

        <p>• Distribute, sublicense, and/or sell the copies. Yes, you can sell them!</p>

        <p>• Create End Products for clients or personal projects.</p>

        <p>• Modify or manipulate the files. You may combine the components with other works and make a derivative work from it.</p>

        <p>• You may use a component multiple times, in multiple projects.</p>

    </section>


    <section class="rules-section not-okay">

        <img src="../style/img/not-okay-icon.svg" alt="Thumbs down illustration">

        <h2 class="bold">It's not okay to:</h2>

        <p>• Talk back to your parents.</p>

    </section>

    <p class="more-info">For more information read the <a class="link-btn"  href="/terms">Terms of Service</a>.</p>

</div>


<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>