


<div id="header-container"></div>


<div class="post-main-container">

    <div class="post-thumbnail-wrapper">

        <div id="post-software" class="software-item"></div>

        <img id="post-preview-image" class="post-thumbnail-img" src="https://cdn.dribbble.com/users/883236/screenshots/7039153/media/5e1a70d63dc893c6ec7fef40a049a02f.png">

    </div>

    <div class="post-details-wrapper">

        <div id="post-details-share-btn" class="primary-btn dark shre">Share</div>

        <h1 id="post-details-post-title" class="post-title bold"></h1>

        <p id="post-details-post-date" class="post-date"></p>

        <p id="post-details-post-description" class="post-description"></p>

        <div id="tag-container" class="tag-wrapper"></div>

        
        <div id="sup-wrapper">


        </div>


        <button id="post-details-download-source-file-btn" class="download-btn">Download File</button>

        <p class="info-text-grey">* Source files may not contain third-party content (e.g. icons, images)</p>

        <div class="color-palette-panel">

            <p class="l-font-size bold">Color Palette</p>

            <p class="info-text-grey">Click the color to copy code.</p>


           <div id="colors-container" class="color-main-container"></div>


        </div>


    </div>

</div>


<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>
