


<div id="header-container"></div>

<div class="privacy-content-container">

    <h1 class="bold title">UI Design Daily Privacy Policy</h1>

    <p>The protection of your privacy when processing personal data is important to us. We only collect, process and use your personal data in compliance with the following principles and in observance of the applicable data protection legislation.</p>

    <h2 class="bold">1 Collection and storage of personal data and the type and purpose of their use</h2>


    <p class="bold">a) When you visit the website</p>

    <p>When you visit the website <a class="link-btn" href="https://www.uidesigndaily.com/" target="_blank">www.uidesigndaily.com</a> , information is automatically sent by the browser used on your end device to our website servers hosted by Cloudflare Inc (101 Townsend St., San Francisco, CA 94107) and DigitalOcean LLC (101 Avenue of the Americas 10th Floor, New York, NY 10013) in the USA. This information is stored temporarily in what is called a log file. The following information is collected during this process without any action on your part and stored until it automatically deleted in accordance with applicable data protection regulations:</p>

    <ul>

        <li>• IP address of the requesting computer,</li>

        <li>• Date and time of access,</li>

        <li>• Name and URL of the requested file,</li>

        <li>• Website from which access is obtained (Referrer URL),</li>

        <li>• Browser used and, where applicable, your computer’s operating system and the identity of your access provider.</li>

    </ul>

    <p>The legal basis for the data processing is Article 6 (1) (f) of the General Data Protection Regulation (GDPR). Our legitimate interest is based on the data collection purposes listed above. We do not on any account use the data collected for the purpose of identifying you. The provision of this data is not required by law or contract or to enter into a contract. You are not obliged to provide the personal data. It is not, however, possible to access the website if the data are not provided.</p>

    <p>We also use cookies and analysis services when you visit our website. More detailed explanations can be found below.</p>


    <p class="bold">b) When you subscribe to our newsletter</p>

    <p>f you have provided your express consent in accordance with point Article 6 (1) (a) GDPR, we use your name and e-mail address to send you our newsletter on a regular basis. You can unsubscribe at any time by using the link at the end of each newsletter.</p>


    <p class="bold">c) When you use our contact form</p>

    <p>We offer you the possibility to contact us via a contact form provided on the website. A valid e-mail address and a name is required for this so that we know who the inquiry is coming from and can respond to it. Additional information can be provided on a voluntary basis.</p>

    <p>Data is processed for the purpose of contacting us in accordance with Article 6 (1) (a) GDPR on the basis of the consent you provide on a voluntary basis.</p>


    <h2 class="bold">1 Collection and storage of personal data and the type and purpose of their use</h2>

    <p>With the exception of the service providers who act on our behalf to provide our website (e.g. see 2.a. above), we do not generally disclosure your personal data to third parties. Exceptions only apply in the following cases if:</p>

    <ul>

        <li>• You have given your express consent to this in accordance with Article 6 (1) (a) GDPR,</li>

        <li>• disclosure in accordance with Article 6 (1) (f) GDPR is necessary for the purposes of pursuing our legitimate interests or the legitimate interests of third party and there is no reason to assume that you have any overriding interest in your data not being disclosed which is worthy of protection,</li>

        <li>• disclosure in accordance with Article 6 (1) (c) GDPR as required by law, and</li>

        <li>• this is permitted by law and required by Article 6 (1) (b) GDPR for the performance of contractual relationships with you.</li>

    </ul>



    <h2 class="bold">3. Cookies</h2>

    <p>When you visit our website, we store information on your computer in the form of cookies. This does not, however, mean that we as a result receive any direct knowledge of your identity.</p>

    <p>The following cookies and super cookies are used on our website:</p>


    <p class="bold">__utma Cookie</p>

    <p>A persistent cookie - remains on a computer, unless it expires or the cookie cache is cleared. It tracks visitors. Metrics associated with the Google __utma cookie include: first visit (unique visit), last visit (returning visit). This also includes Days and Visits to purchase calculations which afford ecommerce websites with data intelligence around purchasing sales funnels.</p>


    <p class="bold">__utmb Cookie & __utmc Cookie</p>

    <p>These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of the user. Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when the user leaves the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends. Therefore, if no new page view is recorded in 30 minutes the cookie is expired. This is a standard 'grace period' in web analytics. Ominture and WebTrends among many others follow the same procedure.</p>


    <p class="bold">__utmz Cookie</p>

    <p>Cookie __utmz monitors the HTTP Referrer and notes where a visitor arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation data. This cookie lasts six months. In tracking terms this Cookie is perhaps the most important as it will tell you about your traffic and help with conversion information such as what source / medium / keyword to attribute for a Goal Conversion.</p>



    <p class="bold">__utmv Cookie</p>

    <p>Google __utmv Cookie lasts "forever". It is a persistent cookie. It is used for segmentation, data experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie targeting capabilities.</p>


    <p>Cookies on the one hand serve to make our offer easier for you to use. We use session cookies for example to detect that you have already visited individual pages of our website.</p>

    <p>We also use cookies to statistically record the use of our website and to analyze this for the purpose of optimizing our offer for you (see “Analysis tools” below). These cookies allow us to detect that you have already been on our website when you visit us again. </p>

    <p>Naturally you can also visit our website without accepting cookies. If you do not want your computer to be recognized again during your next visit, you can also block the use of cookies and super cookies by changing the setting in your browser to “disable cookies”. Instructions on how to do this are found in your browser’s user guide.</p>

    <p>Your use of some areas of our websites may, however, be restricted if you block the use of cookies.</p>


    <h2 class="bold">4 Use of Google Analytics with anonymization function</h2>

    <p>We use Google Analytics, a web analysis service of Google Inc. (<a class="link-btn" href="https://about.google/intl/about/" target="_blank" rel="nofollow">www.about.google/intl/about/</a>) (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; hereinafter “Google”) for the purpose of designing our websites in line with your user preferences and continuously optimizing these. Pseudonymized usage profiles are created and cookies are used in this context. The information generated by the cookies about your use of this website such as</p>

    <ul>

        <li>• type/version of browser,</li>

        <li>• operating system used,</li>

        <li>• referrer URL (last website visited),</li>

        <li>• host name of the accessing computer (IP address),</li>

        <li>• time of server request,</li>

    </ul>

    <p>are transferred to a Google server in the USA and stored there. The information is used to analyze the use of the website, to compile reports on website activities and to provide additional services associated with website and internet use for market research and design of these websites in line with user preferences. This information may also be disclosed to third parties if this is required by law or if these third parties process these data for us. Your IP address will on no account be combined with other Google data. IP addresses are anonymized so that they cannot be linked to any specific person (IP masking).</p>

    <p>You can also prevent the installation of these cookies by configuring your browser software settings accordingly; we would, however, advise you that in this case you may not be able to use all website functions fully. You can also prevent the data generated by the cookie and data relating to your use of the website being collected (including your IP address) and the processing of these data by Google by <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank" class="link-btn">downloading and installing a browser add-on</a>.</p>

    <p>Addition information on privacy in connection with Google Analytics can for example be found here: <a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank" rel="nofollow" class="link-btn">Google Analytics Help</a></p>


    <h2 class="bold">5. Social media plug-ins</h2>

    <p>We use social plug-ins of the social networks Facebook, Twitter and Instagram on our website on the basis of Article 6 (1) (f) GDPR in order to increase the awareness of our website via these. The advertising purpose behind this is to be considered a legitimate interest within the meaning of the GDPR. Operation in line with data protection requirements is to be ensured by the relevant plug-in operator. We embed this plug-in by means of the “2-click method” to protect visitors to our website as best as possible.</p>

    <p class="bold">a) Facebook</p>

    <p>Facebook social media plug-ins are used on our website to make its use more personal. We use the “LIKE” and “SHARE” button for this. This service is offered by Facebook.</p>

    <p>If you access a page of our website that contains such a plug-in, your browser connects directly to the servers of Facebook. The content of the plug-in is sent directly to your browser by Facebook and embedded in the website by it.</p>

    <p>By embedding this plug-in, Facebook receives the information that your browser has accessed the relevant page of our website, even if you do not have a Facebook account or are not currently logged on to Facebook. This information (including your IP address) is sent by your browser directly to a Facebook service in the USA and stored there.</p>

    <p>If you are logged on to Facebook, Facebook can directly relate the visit to our website to your Facebook account. If you interact with the plug-in, for example by clicking on the “LIKE” or “SHARE” button, the relevant information is likewise sent directly to a Facebook server and stored there. The information is also published on Facebook and shown to your Facebook friends.</p>

    <p>Facebook can use this information for the purpose of advertising, market research and designing Facebook pages in line with your personal preferences. Facebook creates usage, interest and relationship profiles for this, e.g. to analyze your use of our website with regard to the adverts displayed to you on Facebook, to inform other Facebook users about your activities on our website and to provide additional services relating to the use of Facebook.</p>

    <p>If you do not want Facebook to relate the data collection via our website to your Facebook account, you must log out from Facebook before visiting our website.</p>

    <p>The purpose and scope of data collection and the further processing and use of the data by Facebook and your rights and settings options for protecting your privacy in this respect to protect your privacy can be found in Facebook’s privacy policy at <a class="link-btn" href="https://www.facebook.com/about/privacy" target="_blank" rel="nofollow">www.facebook.com/about/privacy</a>.</p>


    <p class="bold">b) Twitter</p>

    <p>Plugs-ins of the short message network of Twitter Inc. (“Twitter”) are also integrated into our website. You can identify the Twitter plug-ins (tweet buttons) with the Twitter logo on our website. General information about tweet buttons can be found here: <a href="https://about.twitter.com/resources/buttons" target="_blank" rel="nofollow" class="link-btn">https://about.twitter.com/resources/buttons</a>.</p>

    <p>If you access a page of our website that contains such a plug-in, a direct connection is created between your browser and the Twitter server. Twitter as a result receives the information that you have visited our website with your IP address. If you click on the Twitter tweet button while you are logged on to your Twitter account, you can link the content of our pages to your Twitter profile. Twitter can as a result relate your visit to our pages to your user account. We would advise you that as provider of the pages we do not receive any information regarding the content of the data transferred or their use by Twitter.</p>

    <p>If you do not want Twitter to relate your visit to our websites to your Twitter account, please log off from your Twitter account.</p>

    <p>Additional information on this can be found in Twitter’s privacy policy at <a href="https://twitter.com/privacy" class="link-btn" target="_blank" rel="nofollow">https://twitter.com/privacy</a>.</p>


    <h2 class="bold">6. Security</h2>

    <p>During your website visit you use the widespread SSL process (Secure Socket Layer) in connection with a modern encryption level. This is normally 128-bit encryption. Whether an individual page of our website is transmitted in encrypted form can be seen with the closed key or lock icon in your browser’s status bar.</p>


    <h2 class="bold">7. Amendments to this Privacy Policy</h2>

    <p>This Privacy Policy is currently valid.</p>

    <p>It may be necessary to amend this Privacy Policy due to the development of our website and its offers or due to any changes to statutory or regulatory requirements. You can access and print our Privacy Policy as amended at any time at our website at <a href="https://www.uidesigndaily.com/privacy" target="_blank" class="link-btn">www.uidesigndaily.com/privacy</a></p>

    <p class="italic">Last modified: Aug 9, 2019</p>

</div>


<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>