
<div id="header-container"></div>



<div id="slack-invite-container" class="slack-invite-container">

    <img src="../style/img/slack-uidd.svg">

    <h1 class="bold">UI Design Daily Community</h1>

    <p>Want to link with other UI designers or developers? Join our Slack Channel to chat about design tools, how to get started, UI design trends, or our shared love for avocado toast.</p>

    <div class="input-container">

        <div class="input-wrapper">

            <input class="border-input" type="email" placeholder="Enter your email here">

            <p class="input-error-msg">Please enter your email address above.</p>

        </div>

        <button class="slack-btn">Invite Me!</button>


    </div>

</div>




<div id="slack-invite-success-container" class="slack-invite-success-container">

    <img class="feedback-success-image" src="../style/img/message-sent-icon.svg" alt="Message sent illustration">

    <h1 class="bold success-text">Your invitation is on it's way!</h1>

    <p class="m-font-size success-text">We sent you an email with the invitation to our Slack channel. See you there! 🎉 </p>

    <a href="/" id="contact-subscribe-home-btn" class="pink-btn">Go to home page</a>

</div>


<div id="slack-invite-failure-container" class="slack-invite-failure-container">

    <img class="feedback-error-image" src="../style/img/message-sent-error-icon.svg" alt="Message not sent illustration">

    <h1 class="bold error-text">Invitation couldn’t be sent…</h1>

    <p class="m-font-size error-text">An error occurred while you tried to request the invitation. Please try again, or you can email me at <strong>ildiko@uidesigndaily.com</strong>.</p>

    <a href="/slack-invite" id="contact-subscribe-try-again" class="pink-btn">Try Again</a>

</div>



<footer>

    <nav>

        <a class="footer-menu-item" href="/terms">Terms & Conditions</a>

        <a class="footer-menu-item" href="/privacy">Privacy Policy</a>

    </nav>

    <p class="copyright">©UIDesignDaily 2020</p>

    <div class="so-me-container">

        <a href="https://twitter.com/Ildiesign" target="_blank" rel="nofollow"><img alt="twitter-logo" src="../style/img/t-logo.svg"></a>

        <a href="https://www.behance.net/ildiesign" target="_blank" rel="nofollow"> <img alt="behance-logo" src="../style/img/be-logo.svg"></a>

        <a href="https://dribbble.com/ildiesign" target="_blank" rel="nofollow"><img alt="dribbble-logo" src="../style/img/dribb-logo.svg"></a>

        <a href="https://www.instagram.com/ildiesign/" target="_blank" rel="nofollow"><img alt="instagram-logo" src="../style/img/in-logo.svg"></a>

        <a href="https://www.facebook.com/ildiesign/?ref=settings" target="_blank" rel="nofollow"><img alt="facebook-logo" src="../style/img/f-logo.svg"></a>

    </div>

</footer>