

<div class="subscribe-error-message">Please enter your email address.</div>

<div class="inline-banner-form-wrapper">

    <h2 class="bold">Weekly FREE UI resources straight to your inbox</h2>

    <p class="xs-font-size">Enter your email address to receive a set of designs every week.</p>

    <div class="input-wrapper">

        <input type="email" class="banner-input inline-banner-subscribe-email-input" placeholder="Email address">

        <div class="primary-btn inline-banner-subscribe-btn">Stay inspired</div>

    </div>

</div>

<div class="inline-banner-so-me-wrapper">

    <p class="info-text-grey">Or subscribe using</p>

    <div class="soc-btn-wrapper">

        <a href="/api/v1/subscriptions/oauth/google" class="so-btn gg"></a>

        <a href="/api/v1/subscriptions/oauth/twitter" class="so-btn tw"></a>

        <a href="/api/v1/subscriptions/oauth/facebook" class="so-btn fa small"></a>

    </div>

</div>

<div class="inline-subscribe-banner-content-wrapper"></div>